.body{
    background-color: #56baed;
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

.table{
    padding-top: 30px;
    text-align: center;
}

.img{
    width: 75px;
    height: 75px;
}
